:host {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

:host > div {
  padding: 10px;
}
.accommodation-info {
  display: flex;
  width: 40vh;
}

.title-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  width: 25vw;
}

.review > p {
  text-align: justify;
}

img {
  margin-right: 20px;
  border-radius: 15px;
  width: 216px;
  height: 160px;
  cursor: pointer;
}

.accommodation-info h3 {
  cursor: pointer;
}

p-button {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
