<img
  [routerLink]="['/search']"
  src="../../../assets/images/accommodiq-logo.svg"
  alt="accommodiq-logo"
/>
<img
  [routerLink]="['/search']"
  src="../../../assets/images/search-icon.svg"
  alt="search-icon"
/>
<img
  [routerLink]="['/login']"
  src="../../../assets/images/account-icon.svg"
  alt="account-icon"
/>
<img
  [routerLink]="['/my-accommodations']"
  src="../../../assets/images/my-accommodations.svg"
  alt="my-accommodations-icon"
/>
<img
  [routerLink]="['/accommodations-review']"
  src="../../../assets/images/accommodations-review.svg"
  alt="accommodations-review-icon"
/>
