:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  width: fit-content;
  height: 100vh;
  border-right: 1px solid #dfdfdf;
  box-sizing: border-box;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

:host > img{
  height: 36px;
  width: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

:host > img:first-child {
  height: 56px;
  width: 56px;
  margin-bottom: 20px;
  margin-top: 0px;
}

:host i {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  color: red;
  font-size: 30px
}
