<div class="accommodation-info">
  <img
    [src]="
      review.image === ''
        ? '../../../assets/images/pendingReview-image.png'
        : environment.imageBase + review.image
    "
    alt="pendingReview-image"
    [routerLink]="['/accommodation', review.accommodationId]"
  />

  <div class="title-rating">
    <h3 [routerLink]="['/accommodation', review.accommodationId]">
      {{ review.title }}
    </h3>
    <p-rating
      [ngModel]="Math.floor(review.review.rating)"
      [disabled]="true"
      [cancel]="false"
    />
  </div>
</div>

<div class="review">
  <p>{{ review.review.comment }}</p>
</div>

<div class="buttons">
  <p-button label="Approve" icon="pi pi-check" (click)="approve()" />
  <p-button
    [style]="{ width: '100%' }"
    [label]="review.review.status === 'PENDING' ? 'Decline' : 'Delete'"
    icon="pi pi-times"
    severity="secondary"
    (click)="decline()"
  />
</div>
