<h1>132 stays in Novi Sad</h1>
<h4>Book your next stay at one of our properties</h4>

<div class="row">
  <span class="p-input-icon-left">
    <i class="pi top-offset">
      <img src="../../../assets/images/location-icon.svg" alt="location icon" />
    </i>
    <input
      type="text"
      pInputText
      placeholder="Location"
      [(ngModel)]="location"
    />
  </span>

  <p-calendar
    selectionMode="range"
    placeholder="Date"
    [showIcon]="true"
    [(ngModel)]="rangeDates"
  />

  <p-inputNumber mode="currency" currency="EUR" placeholder="Min Price" [min]="0" />
  <p-inputNumber mode="currency" currency="EUR" placeholder="Max Price" [min]="0"/>

  <p-button icon="pi pi-filter" label="More filters" severity="secondary" />
</div>

<div class="row">
  <span class="p-input-icon-left search-input">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search" [(ngModel)]="title" />
  </span>

  <p-button severity="secondary" label="Clear" (onClick)="clear()" />
  <p-button label="Search" (onClick)="search()" />
</div>
