<div class="account-container">
  <div class="left-section">
    <img [src]="imageUrl" alt="Profile Image" class="account-img-card rounded">
  </div>
  <div class="right-section">
    <div class="same-row">
      <h2>{{ firstName }} {{ lastName }}</h2>
      <p>{{ address }}</p>
    </div>
    <p>{{ role }}</p>
    <div class="rating">
      <span *ngFor="let star of stars" [class]="star"></span>
      <span>{{ rating }}</span>
      <span class="review-count">({{ reviewCount }})</span>
    </div>
  </div>
</div>
