<div class="main">
  <div class="heading-row">
    <h1>{{ accommodationDetails.title }}</h1>
    <div class="rating-row">
      <p-rating
        [ngModel]="accommodationDetails.rating"
        [cancel]="false"
        [readonly]="true"
      />
      <p class="bold">{{ accommodationDetails.rating }}</p>
      <p>{{ accommodationDetails.reviewCount }} reviews</p>
    </div>
  </div>

  <h4>{{ accommodationDetails.location }}</h4>

  <div class="row">
    <h3>
      Hosted by <span class="bold">{{ accommodationDetails.host.name }}</span>
    </h3>
    <p-rating
      [ngModel]="accommodationDetails.host.rating"
      [cancel]="false"
      [readonly]="true"
    />
    <p class="bold">{{ accommodationDetails.host.rating }}</p>
    <p>{{ accommodationDetails.host.reviewCount }} reviews</p>
  </div>

  <div class="main-content">
    <p-galleria
      [value]="images"
      [containerStyle]="{ 'max-width': '640px' }"
      [numVisible]="5"
      [showItemNavigators]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item" style="height: 380px; border-radius: 15px" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div
          class="grid grid-nogutter justify-content-center"
          style="border-radius: 15px; height: 85px; margin-right: 15px"
        >
          <img [src]="item" style="border-radius: 15px; height: 80px" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="row" style="margin-bottom: 25px">
      <p>{{ accommodationDetails.type }}</p>
      <span class="icon-label">
        <i class="pi pi-users"></i>
        <p>
          {{ accommodationDetails.minGuests }}-{{
            accommodationDetails.maxGuests
          }}
          guests
        </p>
      </span>
      <span class="icon-label">
        <i class="pi pi-thumbs-up-fill"></i>
        <p>{{ accommodationDetails.benefits.join(", ") }}</p>
      </span>
    </div>

    <div class="row" style="margin-bottom: 25px">
      <p-calendar
        [(ngModel)]="rangeDates"
        selectionMode="range"
        placeholder="Date"
        [showIcon]="true"
      />
      <span class="p-input-icon-left">
        <i class="pi pi-users"></i>
        <input
          [(ngModel)]="guests"
          type="text"
          pInputText
          placeholder="Guests"
        />
      </span>
      <p><span class="bold">€540</span> EUR total</p>
      <p-button label="Reserve"></p-button>
    </div>

    <p class="description">
      {{ accommodationDetails.description }}
    </p>
  </div>

  <app-comment-list [comments]="accommodationDetails.reviews" />
</div>

<div class="map">
  <img src="../../../assets/images/map.png" alt="map image" />
</div>
