<div class="first-line">
  <h2 (click)="redirectToAuthorProfile(review.authorId)">
    {{ review.author }}
  </h2>
  <p-rating [ngModel]="review.rating" [cancel]="false" [readonly]="true" />
</div>

<div class="row">
  <p>{{ review.comment }}</p>
</div>
<div class="last-line">
  <p>{{ review.date | date }}</p>
  <i
    class="pi pi-trash"
    *ngIf="review.deletable"
    (click)="deleteReview(review)"
    title="Delete Review"
  ></i>
  <i
    class="pi pi-ban"
    *ngIf="canReport"
    (click)="reportReview(review)"
    title="Report Review"
  ></i>
</div>
