<div class="main-content">
  <h1>{{ accommodations.length }} Accommodation change requests</h1>
  <h4>Review, approve or deny accommodations</h4>
  <div *ngFor="let accommodation of accommodations">
    <app-accommodation-card
      [showAcceptanceButtons]="true"
      [accommodation]="accommodation"
      (modifiedSuccessfully)="onModifiedSuccessfully($event)"
    />
  </div>
</div>
<div class="map">
  <google-map
    *ngIf="accommodations.length > 0 && (apiLoaded | async)"
    height="100vh"
    width="35rem"
    [center]="{
      lat: accommodations[0].location.latitude,
      lng: accommodations[0].location.longitude
    }"
    [zoom]="11"
  >
    <map-marker
      *ngFor="let el of accommodations"
      [position]="{ lat: el.location.latitude, lng: el.location.longitude }"
      [label]="el.title"
      [clickable]="true"
    ></map-marker>
  </google-map>
</div>
