:host {
  display: flex;
  flex-direction: row;
}

.main-content {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-content {
  width: 100%;
}

:host p-button {
  cursor: pointer;
}
