<div class="main-content">
  <app-reservation-search
    [reservationCount]="reservations.length"
    (onSearch)="search($event)"
    (onClear)="clear()"
  />
  <div *ngFor="let res of reservations">
    <app-reservation-card
      [reservation]="res"
      [loggedInRole]="loggedInRole"
      [cancellable]="isCancellable(res)"
      [acceptable]="isAcceptable(res)"
      [deletable]="isDeletable(res)"
      (onAccept)="accept($event)"
      (onDecline)="decline($event)"
      (onDelete)="delete($event)"
      (onCancel)="cancel($event)"
    />
  </div>
</div>

<app-map [markers]="getMarkers()" [zoom]="11" width="33rem" />
