<div class="notification-close" xmlns="http://www.w3.org/1999/html">
  <p-button
    icon="pi pi-times"
    [rounded]="true"
    [text]="true"
    size="large"
  ></p-button>
</div>

<div class="notification-content">
  <h3>Your reservation has been confirmed</h3>
  <p>Rezervacija smeštaja Dvosoban stan u centru Novog Sada je potvrdjena!</p>

  <div class="notification-author">
    <p>{{ author }}</p>
    <p><i class="pi pi-user"></i> {{ role }}</p>
  </div>
</div>

<div class="notification-status">
  <i class="pi pi-check-circle" style="color: green; font-size: 2rem"></i>
</div>
