:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  overflow-y: hidden;
}

:host :not(input) {
  text-align: center;
}

:host div {
  margin-bottom: 20px;
}

:host .radio-button-wrapper {
  margin-right: 10px;
}

:host p-radioButton {
  margin-right: 5px;
}
