<p-dialog [visible]="true" [closable]="false" [draggable]="false">
  <h1>Login</h1>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          pInputText
          id="username"
          placeholder="Enter email"
          name="username"
          type="text"
          [(ngModel)]="email"
          required
          #usernameInput="ngModel"
        />
      </span>
      <!-- Display an error message if the username field is empty -->
      <div
        *ngIf="
          usernameInput.invalid &&
          (usernameInput.dirty || usernameInput.touched)
        "
      >
        <small class="p-error">Username is required.</small>
      </div>
    </div>
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-shield"></i>
        <input
          pInputText
          id="password"
          placeholder="Enter password"
          name="password"
          type="password"
          [(ngModel)]="password"
          required
          #passwordInput="ngModel"
        />
      </span>
      <!-- Display an error message if the password field is empty -->
      <div
        *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        "
      >
        <small class="p-error">Password is required.</small>
      </div>
    </div>
    <p-button label="Login" type="submit"></p-button>
  </form>

  <p>
    Don't have an account?
    <a routerLink="/registration" class="link-with-underline">Sign Up</a>
  </p>
</p-dialog>
