:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  overflow-y: hidden;
}

:host :not(input) {
  text-align: center;
}

:host div {
  margin-bottom: 20px;
}

:host .inline-update-form {
  display: flex;
  justify-content: space-between;
}

:host .form-wrapper {
  margin-right: 40px;
}

:host .delete-from-wrapper {
  margin-top: 50px;
}
