<p-dialog [closable]="false" [visible]="true">

<h1>Update your account</h1>

<div class="inline-update-form">
  <div>
    <div class="form-wrapper">
      <h3>Update your personal data</h3>
      <form (submit)="onUpdatePersonalData()">
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input pInputText id="first-name" name="first-name" type="text" [(ngModel)]="firstName"  required/>
            <label htmlFor="name">Enter first name</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input pInputText id="last-name" name="last-name" type="text" [(ngModel)]="lastName"  required/>
            <label htmlFor="name">Enter last name</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input pInputText id="email" name="email" type="email" [(ngModel)]="email"  required/>
            <label htmlFor="name">Enter email</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-home"></i>
            <input pInputText id="address" name="address" type="text" [(ngModel)]="address"  required/>
            <label htmlFor="name">Enter address</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-phone"></i>
            <input pInputText id="phone-number" name="phone-number" type="tel" [(ngModel)]="phoneNumber"  required/>
            <label htmlFor="name">Enter phone number</label>
          </span>
        </div>
        <p-button label="Update" type="submit"></p-button>
      </form>
    </div>

    <div class="form-wrapper delete-from-wrapper">
      <h3>Delete your account</h3>
      <form (submit)="onDelete()">
        <p-button label="Delete" type="submit"></p-button>
      </form>
    </div>
  </div>

  <div>
    <div class="form-wrapper">
      <h3>Update your password</h3>
      <form (submit)="onUpdatePassword()">
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-shield"></i>
            <input pInputText id="old-password" name="old-password" type="password" [(ngModel)]="oldPassword"  required/>
            <label htmlFor="name">Enter old password</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-shield"></i>
            <input pInputText id="new-password" name="new-password" type="password" [(ngModel)]="newPassword"  required/>
            <label htmlFor="name">Enter new password</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-shield"></i>
            <input pInputText id="repeat-new-password" name="repeat-new-password" type="password" [(ngModel)]="repeatNewPassword"  required/>
          <label htmlFor="name">Repeat new password</label>
    </span>
        </div>
        <p-button label="Update" type="submit"></p-button>
      </form>
    </div>
  </div>
</div>
</p-dialog>
