<img
  src="../../../assets/images/accommodation-image.png"
  alt="accommodation-image"
/>

<div class="accommodation-info">
  <span class="first-line">
    <h2>{{ accommodation.title }}</h2>
    <p-button
      *ngIf="accommodation.accepted === undefined"
      icon="pi pi-heart"
      [rounded]="true"
      severity="secondary"
    />
    <i
      *ngIf="accommodation.accepted === true"
      pTooltip="Accommodation is accepted"
      class="pi pi-check-circle"
      style="color: green; font-size: 2rem"
    ></i>
    <i
      *ngIf="accommodation.accepted === false"
      pTooltip="Accommodation is still not accepted"
      class="pi pi-times-circle"
      style="color: red; font-size: 2rem"
    ></i>
  </span>

  <div class="row">
    <p-rating
      [ngModel]="Math.floor(accommodation.rating)"
      [disabled]="true"
      [cancel]="false"
    />
    <p class="bold">{{ accommodation.rating }}</p>
    <p>{{ accommodation.reviewCount }} ratings</p>
  </div>

  <div class="row">
    <span class="icon-label">
      <i class="pi pi-map-marker"></i>
      <p>{{ accommodation.location }}</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-users"></i>
      <p>
        {{ accommodation.minGuests }} - {{ accommodation.maxGuests }} guests
      </p>
    </span>

    <span class="icon-label">
      <i class="pi pi-wifi"></i>
      <p>Wi-Fi</p>
    </span>

    <p>
      <span *ngIf="accommodation.totalPrice !== 0">
        <span class="bold">€{{ accommodation.totalPrice }} </span>
        EUR total
      </span>
      <span *ngIf="accommodation.totalPrice === 0">
        From
        <span class="bold"> €{{ accommodation.minPrice }} </span>
        / night
      </span>
    </p>
  </div>
</div>
