<img
  src="../../../assets/images/accommodation-image.png"
  alt="accommodation-image"
/>

<div class="accommodation-info">
  <span class="first-line">
    <h2>{{accommodation.title}}</h2>
    <p-button icon="pi pi-heart" [rounded]="true" severity="secondary" />
  </span>

  <div class="row">
    <p-rating [ngModel]="Math.floor(accommodation.rating)" [disabled]="true" [cancel]="false" />
    <p class="bold">{{accommodation.rating}}</p>
    <p>{{accommodation.reviewCount}} ratings</p>
  </div>

  <div class="row">
    <span class="icon-label">
      <i class="pi pi-map-marker"></i>
      <p>{{accommodation.location}}</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-users"></i>
      <p>{{accommodation.maxGuests}} guests</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-wifi"></i>
      <p>Wi-Fi</p>
    </span>

    <p><span class="bold">€{{accommodation.minPrice}}</span> EUR total</p>
  </div>
</div>
