<img
  src="../../../assets/images/accommodation-image.png"
  alt="accommodation-image"
/>

<div class="accommodation-info">
  <span class="first-line">
    <h2>Dvosoban apartman u centru Novog Sada</h2>
    <p-button icon="pi pi-heart" [rounded]="true" severity="secondary" />
  </span>

  <div class="row">
    <p-rating [disabled]="true" [cancel]="false" />
    <p class="bold">4.92</p>
    <p>302 ratings</p>
  </div>

  <div class="row">
    <span class="icon-label">
      <i class="pi pi-map-marker"></i>
      <p>Novi Sad</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-users"></i>
      <p>4 guests</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-wifi"></i>
      <p>Wi-Fi</p>
    </span>

    <p><span class="bold">€540</span> EUR total</p>
  </div>
</div>
