<app-account-info
  [user]="accountDetails"
  [accountId]="accountId"
  [averageRating]="averageRating"
  [numberOfReviews]="reviews.length"
  (handleReportUserBtn)="handleReportUserBtn()"
></app-account-info>
<app-comment-list
  *ngIf="accountDetails?.role === AccountRole.HOST"
  [comments]="reviews"
  [canAddComment]="canAddComment"
  [canReport]="canReport"
  (reviewSubmitted)="handleReviewSubmission($event)"
  (deleteRequest)="handleDeleteReview($event)"
  (reportRequest)="handleReportReview($event)"
>
</app-comment-list>
