/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Inter', serif;
}

.accommodiq-button {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove border if not needed */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  cursor: pointer; /* Optional: Change cursor on hover */
}
