:host {
  display: flex;
  flex-direction: row;
}

:host > :first-child {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.map {
  position: fixed;
  right: 0;
  top: 0;
}

.map > img {
  height: 100vh;
  width: 42rem;
  filter: grayscale(100%);
}

.main-content {
  width: 100%;
}
