<div class="main-content">
  <app-accommodation-search (onSearch)="search($event)" (onClear)="clear()" />
  <div *ngFor="let el of elements">
    <app-accommodation-card
      [accommodation]="el"
      [routerLink]="['/accommodation', el.id]"
    />
  </div>
</div>
<div class="map">
  <google-map
    *ngIf="elements.length > 0 && apiLoaded"
    height="100vh"
    width="35rem"
    [center]="{
      lat: elements[0].location.latitude,
      lng: elements[0].location.longitude
    }"
    [zoom]="11"
  >
    <map-marker
      *ngFor="let el of elements"
      [position]="{ lat: el.location.latitude, lng: el.location.longitude }"
      [label]="el.title"
      [clickable]="true"
    ></map-marker>
  </google-map>
</div>
