<img
  [src]="
    reservation.accommodationImage === ''
      ? '../../../assets/images/accommodation-image.png'
      : imageBase + reservation.accommodationImage
  "
  alt="accommodation-image"
/>

<div class="reservation-info">
  <span class="first-line">
    <h2>
      {{ reservation.accommodationTitle }}
    </h2>

    <div class="icon-container">
      <p-button
        *ngIf="deletable"
        label="Delete"
        icon="pi pi-trash"
        [rounded]="true"
        severity="secondary"
        (onClick)="delete($event)"
        [style]="{ 'box-shadow': 'none' }"
        aria-placeholder="delete"
      ></p-button>

      <p-button
        *ngIf="cancellable"
        icon="pi pi-times"
        label="Cancel"
        [rounded]="true"
        severity="secondary"
        (onClick)="cancel($event)"
        [style]="{ 'box-shadow': 'none' }"
        aria-placeholder="cancel"
      ></p-button>

      <p-button
        *ngIf="acceptable"
        icon="pi pi-check"
        label="Accept"
        [rounded]="true"
        (onClick)="accept($event)"
        [style]="{ 'box-shadow': 'none' }"
        aria-placeholder="accept"
      ></p-button>

      <p-button
        *ngIf="acceptable"
        icon="pi pi-times"
        label="Decline"
        [rounded]="true"
        severity="secondary"
        (onClick)="decline($event)"
        [style]="{ 'box-shadow': 'none' }"
        aria-placeholder="decline"
      ></p-button>
    </div>
  </span>

  <div class="row">
    <p-rating
      [ngModel]="Math.floor(reservation.accommodationRating)"
      [disabled]="true"
      [cancel]="false"
    />
    <p class="bold">{{ reservation.accommodationRating }}</p>
    <p>{{ reservation.accommodationReviewCount }} ratings</p>
  </div>

  <div class="row">
    <span class="icon-label">
      <i class="pi pi-map-marker"></i>
      <p>{{ reservation.accommodationLocation.address }}</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-users"></i>
      <p>{{ reservation.guests }} guests</p>
    </span>

    <span class="icon-label time">
      <i class="pi pi-calendar"></i>
      <p>
        {{ formatTimestamp(reservation.startDate) }} -
        {{ formatTimestamp(reservation.endDate) }}
      </p>
    </span>

    <span class="icon-label status">
      <i class="pi pi-info-circle"></i>
      <p>{{ reservation.status }}</p>
    </span>

    <span *ngIf="loggedInRole == AccountRole.HOST" class="icon-label">
      <i class="pi pi-user"></i>
      <p>{{ reservation.guestName }}</p>
    </span>

    <span *ngIf="loggedInRole == AccountRole.HOST" class="icon-label">
      <i class="pi pi-exclamation-circle"></i>
      <p>Cancelled {{ reservation.pastCancellations }} times</p>
    </span>

    <p>
      <span>
        <span class="bold">€{{ reservation.totalPrice }} </span>
        EUR total
      </span>
    </p>
  </div>
</div>
