<img
  [src]="
    reservation.accommodationImage === ''
      ? '../../../assets/images/accommodation-image.png'
      : imageBase + reservation.accommodationImage
  "
  alt="accommodation-image"
  [routerLink]="['/accommodation', reservation.accommodationId]"
/>

<div class="reservation-info">
  <span class="first-line">
    <h2 [routerLink]="['/accommodation', reservation.accommodationId]">
      {{ reservation.accommodationTitle }}
    </h2>

    <div class="icon-container">
      <p-button
        *ngIf="reservation.status === 'PENDING'"
        label="Delete"
        [rounded]="true"
        severity="secondary"
        (onClick)="delete()"
      ></p-button>
    </div>
  </span>

  <div class="row">
    <p-rating
      [ngModel]="Math.floor(reservation.accommodationRating)"
      [disabled]="true"
      [cancel]="false"
    />
    <p class="bold">{{ reservation.accommodationRating }}</p>
    <p>{{ reservation.accommodationReviewCount }} ratings</p>
  </div>

  <div class="row">
    <span class="icon-label">
      <i class="pi pi-map-marker"></i>
      <p>{{ reservation.accommodationLocation.address }}</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-users"></i>
      <p>{{ reservation.guests }} guests</p>
    </span>

    <span class="icon-label">
      <i class="pi pi-calendar"></i>
      <p>
        {{ formatTimestamp(reservation.startDate) }} -
        {{ formatTimestamp(reservation.endDate) }}
      </p>
    </span>

    <span class="icon-label">
      <i class="pi pi-info-circle"></i>
      <p>{{ reservation.status }}</p>
    </span>

    <span *ngIf="loggedInRole == AccountRole.HOST" class="icon-label">
      <i class="pi pi-user"></i>
      <p>{{ reservation.guestName }}</p>
    </span>

    <span *ngIf="loggedInRole == AccountRole.HOST" class="icon-label">
      <i class="pi pi-exclamation-circle"></i>
      <p>Cancelled {{ reservation.pastCancellations }} times</p>
    </span>

    <p>
      <span>
        <span class="bold">€{{ reservation.totalPrice }} </span>
        EUR total
      </span>
    </p>
  </div>
</div>
